.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
